# Tested using a conda environment with Python=3.11.5
# Before using pip install -r requirements.txt, we need to install cartopy and jupyterlab usind conda:
# conda install -c conda-forge cartopy
# conda install -c conda-forge jupyterlab

matplotlib==3.9.1
netCDF4==1.6.5
numpy==1.26.4
pandas==2.2.2
pyproj==3.6.1
PyQt5==5.15.11
seaborn==0.13.2
scipy==1.12.0
ConfigArgParse==1.7
cftime==1.6.3
KDEpy==1.1.9
xarray==2024.6.0
Sphinx==7.2.6
Sphinx-rtd-theme==2.0.0
coverage==7.4.3
pytest==8.1.1
pypdf==3.4.1
bottleneck==1.3.8
tqdm==4.66.4
remotezip==0.12.3
myst-parser==3.0.1
PyYAML==6.0.1
python-dotenv==1.0.1
paramiko==3.4.0