# Tested using a conda environment with Python=3.9.16
# Before using pip install -r requirements.txt, we need to install cartopy and jupyterlab usind conda:
# conda install -c conda-forge cartopy
# conda install -c conda-forge jupyterlab

matplotlib==3.8.3
netCDF4==1.6.5
numpy==1.26.4
pandas==2.2.1
pyproj==3.6.1
PyQt5==5.15.10
seaborn==0.13.2
scipy==1.12.0
ConfigArgParse==1.7
cftime==1.0.3.4
KDEpy==1.1.9
xarray==2024.2.0
Sphinx==7.2.6
Sphinx-rtd-theme==2.0.0
coverage==7.4.3
pytest==8.1.1